name: Deploy Fargate Service

on:
  push:
    branches:
      - main
      
# Environment variables for configuration
env:
  AWS_REGION: eu-central-1 # Or your desired AWS region
  
  # ECR Configuration
  ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com
  ECR_REPOSITORY: car-damage-inference-repo
  IMAGE_TAG: ${{ github.sha }}

  # CloudFormation Stack Parameters
  VPC_ID: vpc-095f1ea82ca7a98f7 # UPDATE with your actual VPC ID
  # RENAMED to match CloudFormation template parameters
  SubnetAId: subnet-0c1ea539005746ae3 # UPDATE with your actual Subnet ID A
  SubnetBId: subnet-0021824dd966cb43f # UPDATE with your actual Subnet ID B
  ContainerPort: 8080

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    
    # Permissions required to deploy to AWS
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout du Code
      uses: actions/checkout@v4

    - name: Configuration des Identifiants AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login à Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2
      id: login-ecr

    - name: Build et Tag de l'image Docker
      run: |
        # Use the ECR repository as the target for the image build
        docker build -t ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }} .

    - name: Push de l'Image vers ECR
      run: |
        docker push ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
        
    - name: Déploiement de la mise à jour de la Stack CloudFormation
      uses: aws-actions/aws-cloudformation-github-deploy@v1
      with:
        name: CarDamageInferenceStack
        # The template file is in the root directory
        template: car-damage-inference-stack.yaml
        capabilities: CAPABILITY_NAMED_IAM
        parameter-overrides: |
          VpcId=${{ env.VPC_ID }}
          # ECRImageTag must include the full ECR path
          ECRImageTag=${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
          SubnetAId=${{ env.SubnetAId }}
          SubnetBId=${{ env.SubnetBId }}
          ContainerPort=${{ env.ContainerPort }}